/* main**************************************************** */
    
main {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

main .video-box {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

main .video-box video{
    height: calc(100% + 400px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* contents************************************************ */

.con-wrap {
    /* background-color: lavender; */
    width: 100%;
    margin: 200px auto;
}

/* con1************************************************ */


.con1 .des {
    text-align: center;
    margin-bottom: 100px;
}

.con1 .des h2 {
    margin-bottom: 30px;

    font-size: 40px;
    color: #0095D3;
}

.con1 .des p {
    font-size: 20px;
    line-height: 32px;
}

.con1 .bg {
    background-image: url(../img/brand/brandstory_con1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-size: 0;
    width: 100%;
    height: 1080px;
}

/* con2************************************************ */

.con2 {
    /* outline: 2px solid red; */
    width: 100%;
    margin: 200px auto;
}

.con2 .box-wrap {
    width: 100%;
    margin: 0 auto;
}

.box-wrap .box {
    position: relative;
    border: 1px solid #0095D3
}

.box-wrap .box:nth-child(2) {
    border: none;
}

.box .box-txt h2{
    margin-bottom: 20px;
    font-size: 36px;
    color: #0095D3;
    display: inline-block;
}

.box .box-txt p{
    font-size: 18px;
    line-height: 30px;
}

.box .box-txt .des {
    padding: 40px 180px;
}

.box .box-txt .des:hover {
    background-color: #0095D3;
    color: white;
}

.box-txt .des:hover .eng {
    color: white;
}

.box .box-txt::after {
    content: "";
    display: block;
    clear: both;
}

.box .box-txt .card {
    width: 350px;
    float: right;
    border-radius: 10%;
    overflow: hidden;

    position: absolute;
    bottom: 50%;
    right: 15%;
    transform: translateY(50%);

    box-shadow: 0 0 10px #d9d9d9;

}

.box .box-txt .card img {
    width: 100%;
    display: block;   
}

.cap1 .img1 {
    display: none;
}
.cap2 .img2 {
    display: none;
    z-index: 1;
}
.cap3 .img3 {
    display: none;
}


/* con3************************************************ */

.con3 {
    /* outline: 2px solid red; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}

.con3 .des {
    text-align: center;
    margin-bottom: 100px;
}

.con3 .des h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #0095D3;
}

.con3 .des p {
    font-size: 18px;
}

.con3 .time-line {
    background-color: #0095D3;
    
}

.con3 .time-line .line {
    /* outline: 2px solid yellow; */
    color: white;
    width: 1440px;
    padding: 100px 0;
    margin: 0 auto;
}

.line .line-list {
    height: 400px;
    width: 150px;
    position: relative;
    left: 14%;
}

.line .line-list~.line-list {
    margin-right: 10%;
}

.line .line-list:first-child {
    margin-right: 10%;
}

.line .line-list .txt h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.line .line-list .txt .txt-top img {
    /* outline: 2px solid green; */
    height: 100px;
    display: block;
    margin: 0 auto;
}

.line .line-list .txt p {
    text-align: center;
    margin: 30px 0;
}

/* .line-list .txt .txt-top {}
.line-list .txt .txt-top h3 {}
.line-list .txt .txt-top img {}
.line-list .txt .txt-top p {} */

.line-list .txt .txt-btm {
    display: inline-block;
    /* outline: 1px solid blue; */
    position: relative;
}

.line-list .txt .txt-btm {
   position: relative;
   left: 20px;
}

.line-list .txt .txt-btm span {
   font-size: 1.2rem;
   /* outline: 2px solid green; */

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.line-list .txt .txt-btm img {
    margin: 0 auto;
}

/* btn */
/* .con3 .time-line .btn {
    background-color: lavender;
}

.con3 .time-line .btn .btn-number {
    outline: 2px solid blue;
    position: relative;
    left: 20%;
}

.con3 .time-line .btn .btn-number ~ .btn-number {
    margin-left: 10%;
}

.con3 .time-line .btn .btn-number a span {
   
    outline: 2px solid rgb(67, 67, 37);
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
*/
